{% extends 'base.html' %}

{% block meta %}
<title>Tambah Kegiatan</title>
{% endblock meta %}


{% block content %}
<div class='form-kegiatan'>
    <h1>Tambah Kegiatan</h1>
    <form method="POST">{% csrf_token %}
        {{form.as_p}}
        <button>Submit</button>
    </form>
</div>
{% endblock %}