{% extends 'base.html' %}

{% block meta %}
<title>Detail Matkul</title>
{% endblock meta %}

{% block content %}
<div class="box-matkul">
    <h1>{{ matkul.NamaMatkul }}</h1>
    <p>Dosen      : {{ matkul.Dosen }}</p>
    <p>Jumlah sks : {{ matkul.sks }}</p>
    <p>Deskripsi  : {{ matkul.deskripsi }}</p>
    <p>Semester   : {{ matkul.smst }}</p>
    <p>Ruang Kelas: {{ matkul.kelas }}</p>
    <div class="back-tag">
        <a href="../list">
        <p>Back -></p>
        </a>
    </div>
</div>
{% endblock content %}