{% extends 'base.html' %}

{% block meta %}
<title>Register</title>
{% endblock meta %}


{% block content %}
<div class="form-matkul">
    <h1>Register</h1>
    <form method="POST">{% csrf_token %}
        {{ form.as_p }}
        <button class='btn btn-secondary'>Register</button>
    </form>
</div>
{% endblock content %}